@import "bootstrap/less/bootstrap.less";

@navbar-bg: #fff;
@green: #00b27b;
@navbar-link-active-bg: @navbar-bg;

section {
  margin-top: 10px;
}

section#marketing {
  h4 {
    color: darken(@green, 10%);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 2em;
    text-align: center;
  }
  p {
    font-size: 1.5em;
    font-weight: 100;
    text-align: justify;
  }
}

.jumbotron {
  a.coinbase-button {
    margin-top: 20px;
  }
  div.addthis_toolbox {
    width: 210px;
    margin: 0 auto;
  }
}

.center {
  text-align: center;
}

.navbar {
  margin-top: 10px;
}

.navbar-brand {
  color: @green;
  font-weight: bold;
}
